<%# default partial to display solr document fields in catalog show view -%>

<dl class="defList">

	<% document_show_fields.each do |solr_fname| -%>
		<% if document[solr_fname] %>
			<dt><%= document_show_field_labels[solr_fname]%></dt>
			<dd><%= document[solr_fname] %></dd>
		<% end -%>
	<% end -%>

	<% if @document[:part_of] %>
		<%# if there is a hierarchy field, use it for the "partof" label -%>
		<% if @document[:hierarchy] %>
			<% hier_label = @document[:hierarchy].to_s.split('::')[-2] %>
		<% end %>
		<div>
			<dt>Part of:</dt>
			<% @document[:part_of].each do |po| %>
				<dd><%= @document[:title_t] %>: <%= link_to((hier_label.nil? ? po : hier_label), catalog_path(po)) %></dd>
			<% end %>
		</div>
	<% end %>

</dl>