html {
	background-color:#EE9944;
	
}

body {
	unicode-bidi:embed;
	display:block;
	margin:0;
	padding:20px;
	font-family:'verdana','arial','helvetica',sans-serif;
	background-color:#EE9944;
	color:#000000;
}

.document {
	background-color:#FFEECC;

}

#doc4 {
	padding: 20px;
}

#documents .documentHeader {
	background-color:#EE9944;
	padding: 5px;
}

#hd {
	background-color:#ffeecc;
	
}

a:hover {
	color:#333333;
}


a {
	color:green;
}

.documentHeader a {
	color:black;
}

.yui-t2 {
	background-color:#ffeecc;
}

/*
div.yui-g {
	background: #EEEEEE;
}*/

div#photos {
	border: blue solid 1px;
	float: left;
	width: 40px;
}

#header {
	position: relative;
	background: #EE9944;
	height: 95px;
	margin: 0;
	padding: 0;
	width: 999px;
}

h1{

}

h1.site_title {
	padding-top: 54px; /* height of the replacement image */
    height: 10px;
    width: 192px;
    overflow: hidden;
    background-image: url("/images/osu-logo.gif");
    background-repeat: no-repeat;
}

h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

#header img {
	border:0;
}

#header ul {
	background: #ffffff;
	color: #000000;
    list-style: none;
	height: 85px;
	margin: 0;
	padding: 0;
}
#header ul li{
	list-style: none;
	display: inline;
}
#header ul li#nav_home{
	position: absolute;
	top: 44px;
	left: 335px;
	background: #a47c41;
	width: 129px;
	height: 41px;
	}
#header ul li#nav_search{
	position: absolute;
	top: 44px;
	left: 464px;
	background: #e26e24;
	width: 125px;
	height: 41px;
	}
#header ul li#nav_about{
	position: absolute;
	top: 44px;
	left: 589px;
	background: #fbac28;
	width: 125px;
	height: 41px;
	}
#header ul li#nav_contact{
	position: absolute;
	top: 44px;
	left: 714px;
	background: #b2b35b;
	width: 125px;
	height: 41px;
	}
#header ul li#nav_member{
	position: absolute;
	top: 44px;
	left: 839px;
	background: #ead44f;
	width: 160px;
	height: 41px;
	}
#header ul li a {
	color: #fff;
	background: transparent;
    display: block;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 13px 0 9px 25px;
	text-decoration: none;
}

#wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	width: 999px;
}

#left {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 335px;
	z-index:2;
	color: #000000;
	background: #eeeeee;
}

#left p{
	margin: 10px 10px 8px 35px;
	font-family: arial, sans-serif;
	font-size: 12px;
}

#left p a{
	color: #000000;
	background: transparent;
}


#content {
	background: #eee;
	min-height: 576px;
	width: 644px;
	margin: 0;
	padding: 20px 20px 20px 335px;
	z-index:1;
	position: absolute;
	top:0;
	left:0;
}

a img{
	border: none;
}

#bottom {
	padding-top: 90px;
}

#content p a{
	color: #000000;
	background: transparent;
	text-decoration: underline;
}

#content p a:hover{
	text-decoration: none;
}

#content p a.nounderline{
	text-decoration: none;
}

#content p a.nounderline:hover{
	text-decoration: underline;
}

#content p a.email{
	color: #999999;
	background: transparent;
}

#content p.more a{
	font-family: arial, sans-serif;
	font-size: .8em;
}

#content p.more{
	margin: 0;
	padding: 5px 0 0 25px;
}

#content p, #content ul li p{
	font-family: georgia, times, serif;
	line-height: 1.5em;
	margin: 5px 0 15px 0;
	padding: 0 31px 0 25px;
}

#content p.funding{
	font-family: arial, helvetica, sans-serif;
	font-size: .8em;
	line-height: 1.2em;
	padding: 0 31px 0 25px;
}

#content h2 {
	color: #e26e24;
	background: transparent;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0px;
	padding: 0 31px 7px 25px;
}

#content h3{
	font-size: 1em;
	color: #999999;
	background: transparent;
	font-family: arial, helvetica, sans-serif;
	margin: 5px 0 0 0;
	padding: 10px 31px 0 25px;
}

#content h3 a{
	color: #999999;
	background: transparent;
}

#content .note a {
	color: #cc6633;
	background: transparent;
	font-family: arial, helvetica, sans-serif;
	font-size: .8em;
	font-style: italic;
	font-weight: normal;
	margin: 0px;
	margin-left: 257px;
	text-decoration: underline;
}

#content form {
	margin: 0;
	padding: 0 31px 0 25px;
}

#searchform{
	margin: 30px 0 0 0;
}

#content form input#searchSubmit {
	font-family: arial, helvetica, sans-serif;
	margin: 0;
	font-size: 1.2em;
	line-height: 1.25em;
	
}

#content form input#searchValue {
	border: 3px double black;
	font-family: arial, helvetica, sans-serif;
	width: 463px;
	padding: 5px 8px 3px 10px;
	margin: 0;
	font-size: 1.2em;
	color: #999999;
	background: #ffffff;
}

.hidden{display:none;}

div.yui-b h1 {
	font-size: 1.8em;
}

div.yui-b dt {
	font-size: 1.2em;
	padding: 5px 0px 10px 0px;	
}

div.yui-b dd {
	font-size: 1.0em;
	padding: 5px 0px 10px 0px;	
}

/*
div.yui-b a {
	color: #a57d41;
}*/

div.yui-b dd a {
	color: #e56e24;
}

div.yui-b div#document img.preview {
	float: left;
}

div.yui-b div.document dl.indexDefList dt{
    float: left;
    clear: left;
    width: 8em;
	text-align: right;
	font-size: 1.2em;
	padding-right: 10px;
	font-weight: bold;
}

div.yui-b div.document dl.indexDefList dd{
	font-size: 1.2em;
}

div.yui-b div.document a.indexImage img{
	float: right;
	margin: 10px 10px 10px 0;
	padding: 0;
	max-width: 150px;
}

div.yui-b div#document dl.defList dt {
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 10px 10px 0px;	
}

div.yui-b div#document dl.defList dd {
	font-size: 1.2em;
	font-weight: light;
	padding: 0px 0px 10px 0px;	
}

div#document div.document {
	border: none;
}

div#previousNextDocument {
	float: left;
	padding: 10px 0px 0px 0px;
}

div.yui-u h3 {
	font-size: 1.3em;
}

ul.navigation{
	margin:1em 1em;
	margin-top:0;
}
ul.navigation li{
	list-style:none;
	margin:.5em 0;
	line-height:1em;
}