<h3>Welcome!</h3>
<h2>The Northwest Digital Archives Blacklight installation</h2>

<p>This page is a prototype of a new system for searching and displaying digital objects from the Northwest Digital Archives and the Orbis Cascade Alliance. The developers will try to keep this page operational at all times, but because of the nature of prototype development, you might see some specific features or functionality come and go over time. This application is an installation of blacklight 
(<a href="http://projectblacklight.org">http://projectblacklight.org</a>) with some local customizations.</p>
 
<p>You can start exploring the collection by typing a search term in the box above, or you can select a browsing option from the lists on the left.</p>